@using ReportWeb.Models.Preserie
@using ReportWeb.Models
@model ODLSchedaModel

@switch (Model.EsitoRicerca)
{
    case 0:
        <label class="text-red text-bold">Dati già inseriti</label>
        break;
    case 1:
        <label class="text-red text-bold"> Barcode non trovato</label>
        break;
    case 2:
        <div class="col-md-12 text-center"><h2>SCHEDA ODL</h2></div>


        <div class="row">
            <div class="col-sm-3">
                <img id="articleImg" style="max-height:130px; max-width:100%; display: block; margin: auto;" src="@Model.ImageUrl">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-1"><label>N° Doc</label></div>
                    <div class="col-sm-2">@Model.NumeroDocumento</div>
                    <div class="col-sm-1"><label>Del</label></div>
                    <div class="col-sm-3">@Model.DataDocumento</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Reparto</label></div>
                    <div class="col-sm-2">@Model.Reparto</div>
                    <div class="col-sm-1"><label>Barcode</label></div>
                    <div class="col-sm-3">@Model.Barcode</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Quantità</label></div>
                    <div class="col-sm-2">@Model.Quantita</div>
                    <div class="col-sm-1"><label>Modello WIP</label></div>
                    <div class="col-sm-2">@Model.Modello</div>
                    <div class="col-sm-5">@Model.ModelloDescrizione</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Commessa</label></div>
                    <div class="col-sm-2">@Model.Commessa</div>
                    <div class="col-sm-1"><label>Del</label></div>
                    <div class="col-sm-2">@Model.DataCommessa</div>
                    <div class="col-sm-1"><label>Riferimento</label></div>
                    <div class="col-sm-2">@Model.Riferimento</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Modello</label></div>
                    <div class="col-sm-2">@Model.ModelloFinale</div>
                    <div class="col-sm-5">@Model.ModelloFinaleDescrizione</div>
                </div>
            </div>
        </div>

        break;
}

<div class="col-sm-12"><hr /></div>
@Html.Hidden("hfRepartoCodice", @Model.RepartoCodice)
@Html.Hidden("hfIDLANCIOD", @Model.IdLancioD)
@Html.Hidden("hfIDMAGAZZ", @Model.IdMagazz)
@Html.Hidden("hfBarcode", @Model.Barcode)
@Html.Hidden("hfIDPRDMOVFASE", @Model.IDPRDMOVFASE)
@Html.Hidden("hfIDTABFAS", @Model.IdTabFas)
<div class="col-sm-12" id="divDettaglioReparto"></div>

<div class="col-sm-12"><hr /></div>

<div class="row">
    <div class="col-sm-1"><label>Pezzi orari</label>@Html.TextBox("txtPezzi", "0", new { @class = "form-control input-sm RWPEZZIORARI", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</div>
    <div class="col-sm-3"><label>Packaging</label>@Html.DropDownList("ddlPackaging", new SelectList(ViewData["Packaging"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-1"><label>Peso</label>@Html.TextBox("txtPeso", "0", new { @class = "form-control input-sm RWPEZZIORARI", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</div>
    <div class="col-sm-6"><label>Nota</label>@Html.TextBox("txtNota", "", new { @maxlength = "250", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
</div>
<div class="row">
    <div class="col-sm-1"><input type="button" onclick="SalvaDati('');" class="btn btn-primary" value="Salva" /></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"><input type="button" onclick="Annulla();" class="btn btn-primary" value="Annulla" /></div>
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        CaricaSchedaDettaglioReparto('@Model.RepartoCodice','@Model.IdTabFas');
    });

    function CaricaSchedaDettaglioReparto(RepartoCodice,IdTabFas) {
         var url = '@Url.Action("CaricaSchedaDettaglioReparto", "Preserie")';
        $.ajax({
            url: url,
            data: {
                RepartoCodice: RepartoCodice, IDTABFASS: IdTabFas
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divDettaglioReparto').html(data);
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function Annulla() {
        window.location.href = "@Url.Action("InserimentoDati", "Preserie")";
    }

    function SalvaDati() {

        var messaggio = '';
        var esito = true;
        var pezziOrari = $('#txtPezzi').val();
        if (pezziOrari == 0) {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il numero di pezzi per ora" + "</br>";
        }

        var packaging = $("#ddlPackaging").find("option:selected").text();
        if (packaging == null || packaging == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il packaging" + "</br>";
        }

        var peso = $("#txtPeso").val();
        if (packaging == 0 ) {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il peso" + "</br>";
        }

        var nota = $("#txtNota").val();


        $('#lblMessage').html(messaggio);
        if (!esito) return;
        var reparto = $('#hfRepartoCodice').val();
        var idlanciod = $('#hfIDLANCIOD').val();
        var idmagazz = $('#hfIDMAGAZZ').val();
        var idprdmovfase = $('#hfIDPRDMOVFASE').val();
        var barcode = $('#hfBarcode').val();
        var idtabfas = $('#hfIDTABFAS').val();
        var dettagli = GetTabellaDettaglio();

         var url = '@Url.Action("SalvaDettagli", "Preserie")';
        $.ajax({
            url: url,
            data: {
                RepartoCodice: reparto,
                Pezzi: pezziOrari,
                Packaging: packaging,
                Peso: peso,
                Nota: nota,
                Dettagli: dettagli,
                IDPRDMOVFASE: idprdmovfase,
                Barcode: barcode,
                IdLancioD: idlanciod,
                IDMAGAZZ: idmagazz,
                IDTABFAS: idtabfas
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                InfoPopupWithRedirect('Dati salvati correttamente',"@Url.Action("InserimentoDati", "Preserie")");
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>