@using ReportWeb.Models.Preserie
@using ReportWeb.Models
@model ODLSchedaModel

@switch (Model.EsitoRicerca)
{
    case 0:
        <label class="text-red text-bold"> Barcode già inserito per addebito</label>
        break;
    case 1:
        <label class="text-red text-bold"> Barcode non trovato</label>
        break;
    case 2:
        <div class="col-md-12 text-center"><h2>SCHEDA CONTROLLO QUALITA'</h2></div>

        @Html.Hidden("hdBarcode", @Model.Barcode)
        @Html.Hidden("hdIDPRDMOVFASE", @Model.IDPRDMOVFASE)

        <div class="row">
            <div class="col-sm-3">
                <img id="articleImg" style="max-height:130px; max-width:100%; display: block; margin: auto;" src="@Model.ImageUrl">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-1"><label>N° Doc</label></div>
                    <div class="col-sm-2">@Model.NumeroDocumento</div>
                    <div class="col-sm-1"><label>Del</label></div>
                    <div class="col-sm-3">@Model.DataDocumento</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Reparto</label></div>
                    <div class="col-sm-2">@Model.Reparto</div>
                    <div class="col-sm-1"><label>Barcode</label></div>
                    <div class="col-sm-3">@Model.Barcode</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Quantità</label></div>
                    <div class="col-sm-2">@Model.Quantita</div>
                    <div class="col-sm-1"><label>Modello WIP</label></div>
                    <div class="col-sm-2">@Model.Modello</div>
                    <div class="col-sm-5">@Model.ModelloDescrizione</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Commessa</label></div>
                    <div class="col-sm-2">@Model.Commessa</div>
                    <div class="col-sm-1"><label>Del</label></div>
                    <div class="col-sm-2">@Model.DataCommessa</div>
                    <div class="col-sm-1"><label>Riferimento</label></div>
                    <div class="col-sm-2">@Model.Riferimento</div>
                </div>
                <div class="row">
                    <div class="col-sm-1"><label>Modello</label></div>
                    <div class="col-sm-2">@Model.ModelloFinale</div>
                    <div class="col-sm-5">@Model.ModelloFinaleDescrizione</div>
                </div>
            </div>
        </div>

        break;
}

<div class="col-sm-12"><hr /></div>


<div class="col-sm-12">
    <div class="col-sm-2"><label>Fase</label>@Html.DropDownList("ddlFasi", new SelectList(ViewData["Fasi"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-1"><label>Pezzi orari</label>@Html.TextBox("txtPezzi", "0", new { @class = "form-control input-sm RWPEZZIORARI", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</div>
    <div class="col-sm-3"><label>Lavorante esterno preferito</label>@Html.DropDownList("ddlLavoranti", new SelectList(ViewData["LavorantiEsterni"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-6"><label>Nota</label>@Html.TextBox("txtNota", "", new { @maxlength = "250", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
</div>
<div class="row">
    <div class="col-sm-1"><input type="button" onclick="Inserisci();" class="btn btn-primary" value="Inserisci" /></div>
    <div class="col-sm-11">
        <label class="text-red" id="lblMessage"></label>
    </div>
</div>
<div class="col-sm-12">
    <table class="table table-condensed">
        <thead>
        <th>
        <td>Fase</td>
        <td>Pezzi orari</td>
        <td>Lavorante</td>
        <td>Nota</td>
        </th></thead>
    </table>
</div>
<script language="javascript" type="text/javascript">
    $(function () {
        $('#ddlFasi').select2();
        $('#ddlLavoranti').select2();

    });

</script>