@using ReportWeb.Models.Preserie
@model Commessa

<div class="row">
    <div class="col-sm-1">Nome commessa</div>
    <div class="col-sm-1">@Model.NomeCommessa</div>
    <div class="col-sm-1">Data commessa</div>
    <div class="col-sm-1">@Model.DataCommessa</div>
    <div class="col-sm-1">Data inizio</div>
    <div class="col-sm-1">@Model.DataInizio</div>
    <div class="col-sm-1">Data inizio</div>
    <div class="col-sm-1">@Model.DataInizio</div>
    <div class="col-sm-1">Data fine</div>
    <div class="col-sm-1">@Model.DataFine</div>
</div>
<div class="row">
    <div class="col-sm-1">Riferimento</div>
    <div class="col-sm-1">@Model.Riferimento</div>
    <div class="col-sm-1">Quantita</div>
    <div class="col-sm-1">@Model.Quantita</div>
    <div class="col-sm-1">Modello</div>
    <div class="col-sm-2">@Model.Articolo.Modello</div>
    <div class="col-sm-1">Descrizione</div>
    <div class="col-sm-2">@Model.Articolo.Descrizione</div>
</div>

<table class="table table-condensed" id="tblCommesse">
    <tbody>
        @foreach (Lavorazione lavorazione in Model.Lavorazioni)
        {
        <tr>
            <td>@lavorazione.Sequenza</td>
            <td>@lavorazione.Reparto<input type="hidden" value="@lavorazione.IDPRDFASE" class="hdIDPRDFASE"></td>
            <td>@lavorazione.FaseODL</td>
            @if (lavorazione.Odl != null)
            {
            <td>@lavorazione.Odl.NUMMOVFASE<input type="hidden" value="@lavorazione.Odl.IDPRDMOVFASE" class="hdIDPRDMOVFASE"></td>
            <td>@lavorazione.Odl.Barcode</td>
            }

        </tr>
            if (lavorazione.Odl != null)
            {
                if (lavorazione.Dettagli != null && lavorazione.Dettagli.Count>0)
                {
                    foreach (Dettaglio d in lavorazione.Dettagli)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Fase</b></td>
                            <td><b>@d.Fase</b></td>
                            <td>Pezzi orari</td>
                            <td>@d.PezziOra</td>
                            <td>Reparto</td>
                            <td>@d.Reparto</td>
                            <td colspan="3">@d.Nota</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2"><input type="button" onclick="ModificaDati('@lavorazione.Odl.Barcode');" class="btn btn-primary" value="Modifica" /></td>
                    </tr>
                }
            }
            <tr><td colspan="12"><hr /></td></tr>
        }
    </tbody>
</table>


<script language="javascript" type="text/javascript">
    $(function () {
    });

    function ModificaDati(barcode) {        
        var url = '@Url.Action("ModificaDati", "Preserie")';
        url = url + '?barcode=' + barcode;
        window.open(url);
    }
</script>
