@using ReportWeb.Models.Preserie
@using ReportWeb.Models

<div class="row">
    <div class="col-sm-2"><label>Lavorazione</label>@Html.DropDownList("dllLavorazione", new SelectList(ViewData["Lavorazioni"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-1"><label>Attrezzaggio</label>@Html.DropDownList("dllAttrezzaggio", new SelectList(ViewData["Attrezzaggio"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-1"><label>Materiale</label>@Html.DropDownList("dllMetalloBase", new SelectList(ViewData["MetalloBase"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Programma/Disegno</label>@Html.TextBox("txtProgramma", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Macchina</label>@Html.DropDownList("dllMacchine", new SelectList(ViewData["Macchine"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Utensili speciali</label>@Html.TextBox("txtUtensili", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
</div>

<div class="row">
    <div class="col-sm-2"><input type="button" onclick="InserisciRiga();" class="btn btn-primary" value="Inserisci lavorazione" /></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed" id="tblDettaglio"></table>

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $('#tblDettaglio').on('click', 'a', function () {
            $(this).closest('tr').remove();
        })
    });

    function InserisciRiga() {

        var lavorazione = $("#dllLavorazione").find("option:selected").text();
        var attrezzaggio = $("#dllAttrezzaggio").find("option:selected").text();

        var metalloBase = $('#dllMetalloBase').find("option:selected").text();
        var macchina = $('#dllMacchine').find("option:selected").text();
        var programma = $('#txtProgramma').val();
        var utensili = $('#txtUtensili').val();

        var messaggio = '';
        var esito = true;
        if (lavorazione == null || lavorazione == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare la lavorazione" + "</br>";
        }

        if (attrezzaggio == null || attrezzaggio == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare l'attrezzaggio" + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if (!esito) return;

        var tr = '<tr>';
        tr += '<input type="hidden" value =""  class="hdIDDETTAGLIO" />';
        tr += '<td width="17%">' + lavorazione + '</td>';
        tr += '<td width="9%">' + attrezzaggio + '</td>';
        tr += '<td width="9%">' + metalloBase + '</td>';
        tr += '<td width="17%">' + programma + '</td>';
        tr += '<td width="17%">' + macchina + '</td>';
        tr += '<td width="17%">' + tempo + '</td>';
        tr += '<td ><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td>';
        tr += '<\tr>';
        $('#tblDettaglio').append(tr);

        $("#dllLavorazione").val('').trigger('change');
        $("#dllAttrezzaggio").val('').trigger('change');
        $("#dllMetalloBase").val('').trigger('change');
        $("#dllMacchine").val('').trigger('change');
        $("#txtProgramma").val('');
        $("#txtUtensili").val('');
    }

    function GetTabellaDettaglio() {

        var rowCount = $('table#tblDettaglio tr:last').index() + 1;
        var messaggio = '';

        var data = [];
        var trs = $('#tblDettaglio > tr');
        for (i = 0; i < trs.length; i++) {
            var tr = trs[i];
            var IDDETTAGLIO = $('.hdIDDETTAGLIO', tr).val();

            if (IDDETTAGLIO == undefined) IDDETTAGLIO = -1;
            if (IDDETTAGLIO == '') IDDETTAGLIO = -1;

            var tdLavorazione = $(tr).find('td')[0];
            var lavorazione = $(tdLavorazione).text().trim();

            var tdAttrezzaggio = $(tr).find('td')[1];
            var attrezzaggio = $(tdAttrezzaggio).text().trim();

            var tdMateriale = $(tr).find('td')[2];
            var materiale = $(tdMateriale).text().trim();

            var tdProgramma = $(tr).find('td')[3];
            var programma = $(tdProgramma).text().trim();

            var tdMacchine = $(tr).find('td')[4];
            var macchine = $(tdMacchine).text().trim();

            var tdUtensili = $(tr).find('td')[5];
            var utensili = $(tdUtensili).text().trim();

            var dettaglio = {
                'Lavorazione': lavorazione, 'Attrezzaggio': attrezzaggio, 'Materiale': materiale, 'Programma': Programma, 'Macchine': macchine, 'Utensili': utensili
            };
            data.push(dettaglio);
        }

        var dettagli = JSON.stringify(data);

        return dettagli;

    }

</script>