@using ReportWeb.Models.Preserie.JSON
@using ReportWeb.Models
@model List<VerniciaturaJson>
<div class="row">
    <div class="col-sm-2"><label>Telaio</label>@Html.TextBox("txtTelaio", "", new { @maxlength = "30", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-1"><label>Pezzi telaio</label>@Html.TextBox("txtPezziTelaio", "", new { @maxlength = "5", @class = "form-control input-sm ", @style = "height: 21px;", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</div>
    <div class="col-sm-2"><label>Durata</label>@Html.TextBox("txtDurata", "", new { @maxlength = "25", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
    <div class="col-sm-2"><label>Verniciatura</label>@Html.TextBox("txtVerniciatura", "", new { @maxlength = "100", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
</div>

<div class="row">
    <div class="col-sm-2"><input type="button" onclick="InserisciRiga();" class="btn btn-primary" value="Inserisci lavorazione" /></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed" id="tblDettaglio"></table>

    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $('#tblDettaglio').on('click', 'a', function () {
            $(this).closest('tr').remove();
        })
                  @foreach(VerniciaturaJson elemento in Model)
        {
            <text>
        InsertTR('@elemento.Telaio', '@elemento.PezziTelaio', '@elemento.Durata', '@elemento.Ricetta');
        </text>
    }

    });

    function InserisciRiga() {

        var telaio = $('#txtTelaio').val();
        var pezzi = $('#txtPezziTelaio').val();
        var durata = $('#txtDurata').val();
        var verniciatura = $('#txtVerniciatura').val();

        var messaggio = '';
        var esito = true;
        if (telaio == null || telaio == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il telaio" + "</br>";
        }

        if (pezzi == null || pezzi == '') {
            esito = false;
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare i pezzi orari" + "</br>";
        }

        $('#lblMessage').html(messaggio);
        if (!esito) return;

        InsertTR(telaio, pezzi, durata, verniciatura);

        $("#txtTelaio").val('');
        $("#txtPezziTelaio").val('');
        $("#txtDurata").val('');
        $("#txtVerniciatura").val('');
    }

    function InsertTR(telaio, pezzi,durata,verniciatura) {
        var tr = '<tr>';
        tr += '<input type="hidden" value =""  class="hdIDDETTAGLIO" />';
        tr += '<td width="17%">' + telaio + '</td>';
        tr += '<td width="9%">' + pezzi + '</td>';
        tr += '<td width="17%">' + durata + '</td>';
        tr += '<td width="17%">' + verniciatura + '</td>';
        tr += '<td ><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td>';
        tr += '<\tr>';
        $('#tblDettaglio').append(tr);
    }

    function GetTabellaDettaglio() {

        var rowCount = $('table#tblDettaglio tr:last').index() + 1;
        var messaggio = '';

        var data = [];
        var trs = $('#tblDettaglio > tr');
        for (i = 0; i < trs.length; i++) {
            var tr = trs[i];
            var IDDETTAGLIO = $('.hdIDDETTAGLIO', tr).val();

            if (IDDETTAGLIO == undefined) IDDETTAGLIO = -1;
            if (IDDETTAGLIO == '') IDDETTAGLIO = -1;

            var tdTelaio = $(tr).find('td')[0];
            var telaio = $(tdTelaio).text().trim();

            var tdPezzi = $(tr).find('td')[1];
            var pezzi = $(tdPezzi).text().trim();

            var tdDurata = $(tr).find('td')[2];
            var durata = $(tdDurata).text().trim();

            var tdVerniciatura = $(tr).find('td')[3];
            var verniciatura = $(tdVerniciatura).text().trim();

            var dettaglio = {
                'Telaio': telaio, 'PezziTelaio': pezzi, 'Durata': durata, 'Ricetta': verniciatura
            };
            data.push(dettaglio);
        }

        var dettagli = JSON.stringify(data);

        return dettagli;

    }

</script>