@using ReportWeb.Models.MailDispatcher
@using ReportWeb.Models
@model List<MD_EMAILModel>

@{
    ViewBag.Title = "Mail Dispatcher Admin";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="content-top">
    <h2>Amministrazione Mail Dispatcher</h2>

</div>

<label id="lblMessaggi" class="text-red"></label>
<div class="content-scheda" style="overflow-y:auto; overflow-x:hidden; height:750px">
    <div class="box" id="sectionDatiGenerali">
        <div class="box-header with-border">
            <h4 class="box-title text-bold">Gestione Email</h4>
            <div class="box-tools pull-right">
                <button id="btnCollapseDatiGenerali" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body form-group-sm">
            <div id="divMailCrea">
                <div class="row">
                    <div class="col-sm-4">
                        INVIO MAIL
                        @Html.DropDownList("ddlRichiedente", new SelectList(ViewData["MDRICHIEDENTI"] as List<MD_RICHIEDENTEModel>, "IDRICHIEDENTE", "Richiedente"), new { @class = "form-control input-sm select2", @style = "height: 21px;" })
                        Soggetto
                        @Html.TextBox("txtSoggetto", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })
                        Corpo
                        @Html.TextArea("txtCorpo", "", new { @maxlength = "4000", @class = "form-control input-sm ", cols = "20", rows = "10" })
                        <input type="button" onclick="CreaMail();" class="btn btn-primary" value="Inserisci email" />
                        <label id="lblMessageCreaMail" class="text-red"></label>
                    </div>
                    <div class="col-sm-4" id="divMail">
                        @Html.Partial("TabellaMail",Model)
                                </div>
                                <div class="col-sm-4" id="divMailLog">
                                    log
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary" id="sectionTaglio">
                    <div class="box-header with-border">
                        <h4 class="box-title text-bold">Gruppi mail dispatcher</h4>
                        <div class="box-tools pull-right">
                            <button id="btnCollapseTaglio" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="divGruppi">
                            <div class="row">
                                <div class="col-sm-3" id="divTabellaGruppi">
                                    Gruppi
                                    @Html.Partial("TabellaGruppi", ViewData)
                                </div>
                                <div class="col-sm-3">
                                    Destinatari gruppo <label id="lblNomeGruppo"></label>
                                    @Html.Hidden("hdIDGRUPPO")
                                    <div id="divDestinatari">

                                    </div>
                                </div>
                                <div class="col-sm-3" id="divTabellaRichiedenti">
                                    Richiedenti
                                    @Html.Partial("TabellaRichiedenti", ViewData)
                                </div>
                                <div class="col-sm-3">
                                    Gruppi richedente <label id="lblNomeRichiedente"></label>
                                    @Html.Hidden("hdIDRICHIDENTE")
                                    <div id="divGruppiRichiedenti">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script language="javascript" type="text/javascript">
                $(function ()
                {

                });

                function CreaMail()
                {
                    var idRichiedente = $('#ddlRichiedente').val();
                    var richiedente = $("#ddlRichiedente").find("option:selected").text();
                    var soggetto = $('#txtSoggetto').val();
                    var corpo = $('#txtCorpo').val();

                    var messaggio = '';
                    var esito = true;
                    if (idRichiedente == null || idRichiedente == '')
                    {
                        esito = false;
                        messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il richiedente" + "</br>";
                    }

                    if (soggetto == null || soggetto == '')
                    {
                        esito = false;
                        messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il soggetto della mail" + "</br>";
                    }

                    if (corpo == null || corpo == '')
                    {
                        esito = false;
                        messaggio += MESSAGGIO_PUNTINO + " " + "scrivere il corpo della mail" + "</br>";
                    }

                    $('#lblMessageCreaMail').html(messaggio);
                    if (!esito) return;
                    var url = '@Url.Action("CreaMail", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { Richiedente: richiedente, Soggetto: soggetto, Corpo: corpo },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#ddlRichiedente').val('');
                            $('#txtSoggetto').val('');
                            $('#txtCorpo').val('');

                            $('#divMail').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });

                }

                function LeggiLog(IDMAIL)
                {
                    var url = '@Url.Action("LeggiLog", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDMAIL: IDMAIL},
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divMailLog').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function SelezionaGruppo(nome, idGruppo)
                {
                    $('#hdIDGRUPPO').val(idGruppo);
                    $('#lblNomeGruppo').text(nome);

                    LeggiDestinatari(idGruppo);
                }

                function SelezionaRichiedente(richiedente, idRichiedente)
                {
                    $('#hdIDRICHIDENTE').val(idRichiedente);
                    $('#lblNomeRichiedente').text(richiedente);

                    LeggiGruppiRichiedenti(idRichiedente);
                }

                function LeggiDestinatari(IDGRUPPO)
                {
                    var url = '@Url.Action("LeggiDestinatari", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDGRUPPO: IDGRUPPO },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divDestinatari').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function LeggiGruppiRichiedenti(IDRICHIEDENTE)
                {
                    var url = '@Url.Action("LeggiGruppiRichiedenti", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDRICHIEDENTE: IDRICHIEDENTE },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divGruppiRichiedenti').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function CreaNuovoGruppo()
                {

                    $('#lblMessaggi').text('');
                    var gruppo = $('#txtNuovoGruppo').val();
                    if (gruppo == null || gruppo == '')
                    {
                        $('#lblMessaggi').text("Indicare il nome del gruppo");
                        return;
                    }
                    var url = '@Url.Action("CreaNuovoGruppo", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { Gruppo: gruppo },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divTabellaGruppi').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function RimuoviGruppo(IDGRUPPO)
                {
                    var url = '@Url.Action("RimuoviGruppo", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDGRUPPO: IDGRUPPO },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divTabellaGruppi').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });

                    var IDGRUPPODestinatari = $('#hdIDGRUPPO').val();
                    if (IDGRUPPODestinatari == IDGRUPPO)
                    {
                        $('#divDestinatari').html('').show();
                        $('#lblNomeGruppo').text('');
                    }
                }

                function AggiungiDestinatario()
                {
                    $('#lblMessaggi').text('');
                    var destinatario = $('#txtNuovoDestinatario').val();
                    if (destinatario == null || destinatario == '')
                    {
                        $('#lblMessaggi').text("Inserire l'indirizzo email del destinatario");
                        return;
                    }

                    if (!ValidateEmail(destinatario))
                    {
                        $('#lblMessaggi').text("Formato indirizzo email errato");
                        return;
                    }

                    var IDGRUPPO = $('#hdIDGRUPPO').val();
                    var url = '@Url.Action("AggiungiDestinatario", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDGRUPPO: IDGRUPPO, Destinatario: destinatario },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divDestinatari').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function RimuoviDestinatario(IDDESTINATARIO)
                {
                    var url = '@Url.Action("RimuoviDestinatario", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDDESTINATARIO: IDDESTINATARIO },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divDestinatari').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function CreaNuovoRichiedente()
                {
                    $('#lblMessaggi').text('');
                    var richiedente = $('#txtNuovoRichiedente').val();
                    if (richiedente == null || richiedente == '')
                    {
                        $('#lblMessaggi').text("Indicare il richiedente");
                        return;
                    }
                    var url = '@Url.Action("CreaNuovoRichiedente", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { Richiedente: richiedente },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divTabellaRichiedenti').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function RimuoviRichiedente(IDRICHIEDENTE)
                {
                    var url = '@Url.Action("RimuoviRichiedente", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDRICHIEDENTE: IDRICHIEDENTE },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divTabellaRichiedenti').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                    var IDRICHIEDENTESELEZIONATO = $('#hdIDRICHIDENTE').val();
                    if (IDRICHIEDENTESELEZIONATO == IDRICHIEDENTE)
                    {
                        $('#divGruppiRichiedenti').html('').show();
                        $('#lblNomeRichiedente').text('');
                    }
                }

                function AggiungiGruppoRichiedente()
                {

                    var idGruppo = $('#ddlGruppo').val();
                    var idRichiedente = $('#hdIDRICHIDENTE').val();
                    var cc = $('#chkCC').prop('checked');
                    var url = '@Url.Action("AggiungiGruppoRichiedente", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDRICHIEDENTE: idRichiedente, IDGRUPPO: idGruppo, CC: cc },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divGruppiRichiedenti').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }

                function RimuoviGruppoRichiedente(IDGRRICH)
                {
                    var idRichiedente = $('#hdIDRICHIDENTE').val();
                    var url = '@Url.Action("RimuoviGruppoRichiedente", "MailDispatcher")';
                    $.ajax({
                        url: url,
                        data: { IDGRRICH: IDGRRICH, IDRICHIEDENTE: idRichiedente },
                        cache: false,
                        type: "POST",
                        success: function (data)
                        {
                            $('#divGruppiRichiedenti').html(data).show();
                        },
                        error: function (response)
                        {
                            document.open();
                            document.write(response.responseText);
                            document.close();
                        }
                    });
                }
            </script>