
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td>
            <img src="~/Content/Image/logo_MP_240X200 maggio 2018.png" />
        </td>
        <td><h2>Rilevazione Tempi</h2></td>
        <td>
            <img src="~/Content/Image/logo_TF_240X200 maggio 2018.png" />
        </td>
    </tr>
</table>


<div class="box" style="padding-left:10px" id="divBarcodeLavoratore">
    <div class="box-body form-group-sm">

        <div class="row">
            <div class="col-md-2">
                <label>Barcode lavoratore</label>
                <input type="text" id="txtBarcodeLavoratore" />
            </div>
        </div>
    </div>
</div>


<div class="box" style="padding-left:10px" id="divBarcodeODL"></div>
<div class="box" style="padding-left:10px" id="divStart"></div>



<script language="javascript" type="text/javascript">
    $(function () {
        $("#txtBarcodeLavoratore").focus();
        $("#txtBarcodeLavoratore").change(function () {
            var barcode = $(this).val();
            if (barcode != '') {
                $(this).val('');
                $(this).focus();

                CaricaSchedaLavoratore(barcode);
            }
        });
    });

    function Annulla() {
         window.location.href = "@Url.Action("INDEX", "Rilevazioni")";
    }

    function CaricaSchedaLavoratore(barcode)
    {
        var url = '@Url.Action("CaricaSchedaLavoratore", "Rilevazioni")';
        $.ajax({
            url: url,
            data: { Barcode: barcode },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divBarcodeODL').html(data).show();
                $('#divBarcodeLavoratore').hide();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function CaricaSchedaODL(barcode)
    {
        var url = '@Url.Action("CaricaSchedaODL", "Rilevazioni")';
        $.ajax({
            url: url,
            data: { Barcode: barcode },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divStart').html(data).show();
                $('#divPulsanteAnnulla1').hide();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function Inizia()
     {
         var barcodeUtente = $('#hdBarcodeLavoratore').val();
         var barcodeODL = $('#hdBarcodeODL').val();

        var url = '@Url.Action("InizioAttivita", "Rilevazioni")';
        $.ajax({
            url: url,
            data: { BarcodeLavoratore: barcodeUtente, BarcodeOLD: barcodeODL},
            cache: false,
            type: "POST",
            success: function (data)
            {
                if (data == 'True') {
                    alert("Operazione completata con successo");
                    Annulla();
                }
                else {
                    alert("ERRORE nel salvataggio. Riprovare.");
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

     function Chiudi()
     {
        
         var barcodeUtente = $('#hdBarcodeLavoratore').val();
         var barcodeODL = $('#hdBarcodeODL').val();
         var nota = $('#txtNota').val();
         var qta = $('#txtQuantita').val();

        var url = '@Url.Action("TerminaAttivita", "Rilevazioni")';
        $.ajax({
            url: url,
            data: { BarcodeLavoratore: barcodeUtente, BarcodeOLD: barcodeODL, Nota: nota, Quantita:qta},
            cache: false,
            type: "POST",
            success: function (data)
            {
                if (data == 'True') {
                    alert("Operazione completata con successo");
                    Annulla();
                }
                else {
                    alert("ERRORE nel salvataggio. Riprovare.");
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
</script>