@using ReportWeb.Models
@model List<Registrazione>
@{
    ViewBag.Title = "Uscita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td>
            <img height="100px" src="~/Content/Image/logo_Metal-Plus_bn.jpg" />
        </td>
        <td><h2>Registrazione - Uscita</h2></td>
        <td>
            <img height="100px" src="~/Content/Image/logo_TOP-FINISH_BN.jpg" />
        </td>
    </tr>
</table>
<div class="box" style="padding-left:10px">
    <div class="box-body form-group-sm">
        @if (Model.Count > 0)
        {
            foreach (Registrazione utente in Model)
            {
                <div class="row">

                    <div class="col-sm-2">
                        <label class="text-red input-sm" id="lblMessage3"></label><br />
                        <h5>@utente.Nome</h5>
                    </div>
                    <div class="col-sm-1">
                        <label class="text-red input-sm" id="lblMessage5"></label><br />
                        <h5>@utente.Data</h5>
                    </div>
                    <div class="col-sm-1">
                        <label class="text-red input-sm" id="lblMessage5"></label><br />
                        <h5>@utente.Ditta</h5>
                    </div>
                    <div class="col-sm-1">
                        <label class="text-red input-sm" id="lblMessage5"></label><br />
                        <h5>@utente.Tessera</h5>
                    </div>
                    <div class="col-sm-2">
                        <label class="text-red input-sm" id="lblMessage2"></label><br />
                        <input type="button" onclick="RegistraUscita(@utente.IDREGISTRAZIONE);" class="btn btn-primary" value="Registra uscita" />
                    </div>
                </div>
            }
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <input type="button" onclick="Ritorna();" class="btn btn-primary" value="Torna indietro" />
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-1">
                </div>

                <div class="col-sm-3">
                    <h3>Nessuna uscita da registrare</h3>
                </div>

            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <input type="button" onclick="Ritorna();" class="btn btn-primary" value="Torna indietro" />
            </div>
        }

    </div>
</div>

<script language="javascript" type="text/javascript">

    function RegistraUscita(idregistrazione)
    {

        var url = '@Url.Action("RegistraUscita", "Registrazione")';
        $.ajax({
            url: url,
            data: {
                IdRegistrazione: idregistrazione
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                
                if (data == '') {
                    InfoPopupWithRedirect('Uscita registrata correttamente',"@Url.Action("INDEX", "Registrazione")");
                }
                else {
                    $('#lblMessage2').html(data);
                }
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function Ritorna() {
            window.location.href = "@Url.Action("INDEX", "Registrazione")";
    }
</script>