@using ReportWeb.Models
@model List<TrasferimentoModel>

@if (Model.Count == 0)
{
    <h2 class="text-red">Nessun dato trovato</h2>
}
else
{
    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th style="font-size:11px">Data partenza</th>
                    <th style="font-size:11px">Operatore</th>
                    <th style="font-size:11px">Data arrivo</th>
                    <th style="font-size:11px">Operatore</th>
                    <th style="font-size:11px">ODL</th>
                    <th style="font-size:11px">Reparto</th>
                    <th style="font-size:11px">Modello</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TrasferimentoModel elemento in Model)
                {
                    <tr>
                        <td style="font-size:11px">@elemento.DataPartenza</td>
                        <td style="font-size:11px">@elemento.OperatorePartenza </td>
                        <td style="font-size:11px">@elemento.DataArrivo</td>
                        <td style="font-size:11px">@elemento.OperatoreArrivo</td>
                        <td style="font-size:11px">@elemento.NumMovFase</td>
                        <td style="font-size:11px">@elemento.Reparto</td>
                        <td style="font-size:11px">@elemento.Modello</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

