@using ReportWeb.Models
@model List<PVDConsuntivoModel>
    <div class="box box-primary box-solid">

    <table class="table table-condensed">
        <tr>
            <th width="10%">
                <label>Giorno</label>                
            </th>
            <th width="10%">
                <label>Cod. Finitura</label>
            </th>
            <th width="10%">
                <label>Finitura</label>
            </th>
            <th width="10%">
                <label>Tipo ciclo</label>
            </th>
            <th width="10%">
                <label>Inizio</label>
            </th>
            <th width="10%">
                <label>Fine</label>
            </th>
            <th width="10%">
                <label>Quanità</label>
            </th>
            <th width="10%">
                <label>Clienti</label>
            </th>
            <th width="10%">
                <label>Articolo</label>
            </th>
            <th width="10%">
                <label>Impegno (%)</label>
            </th>
            <th></th>
        </tr>
        <tboby>
            @foreach (PVDConsuntivoModel c in Model)
            {
                <tr>
                    <td>
                        @c.Giorno.ToShortDateString()
                    </td>
                    <td>
                        @c.FinituraCodice
                    </td>
                    <td>
                        @c.FinituraDescrizione
                    </td>
                    <td>
                        @c.TipoCiclo
                    </td>
                    <td>
                        @c.Inizio
                    </td>
                    <td>
                        @c.Fine
                    </td>
                    <td>
                        @c.Quantita
                    </td>
                    <td>
                        @c.Clienti
                    </td>
                    <td>
                        @c.Articolo
                    </td>
                    <td>
                        @c.Impegno
                    </td>
                    <td>
                        <a onclick="CancellaConsuntivo(@c.IdConsuntivo)" title="Cancella"><i class="fa fa-fw fa-remove"></i></a>
                    </td>
                </tr>
            }
        </tboby>
    </table>
</div>
