
@using ReportWeb.Models
@model List<PVDConsuntivoModel>
<div class="box box-primary box-solid">
    <div class="row">
        <div class="col-sm-1"><label>Data inizio:</label>@ViewData["dataInizio"].ToString() </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"><label>Data fine:</label>@ViewData["dataFine"].ToString() </div>
    </div>
    <table class="table table-condensed">
        <tr>
            <th width="10%">
                <label>Giorno</label>
            </th>
            <th width="10%">
                Macchina
            </th>
            <th width="10%">
                <label>Cod. Finitura</label>
            </th>
            <th width="10%">
                <label>Finitura</label>
            </th>
            <th width="10%">
                <label>Tipo ciclo</label>
            </th>
            <th width="10%">
                <label>Inizio</label>
            </th>
            <th width="10%">
                <label>Fine</label>
            </th>
            <th width="10%">
                <label>Quanità</label>
            </th>
            <th width="10%">
                <label>Clienti</label>
            </th>
            <th width="10%">
                <label>Articolo</label>
            </th>
            <th width="10%">
                <label>Impegno (%)</label>
            </th>
        </tr>
        <tboby>
            @foreach (PVDConsuntivoModel c in Model)
            {
                <tr>
                    <th>
                        @c.Giorno.ToShortDateString()
                    </th>
                    <th>
                        @c.Macchina
                    </th>
                    <th>
                        @c.FinituraCodice
                    </th>
                    <th>
                        @c.FinituraDescrizione
                    </th>
                    <th>
                        @c.TipoCiclo
                    </th>
                    <th>
                        @c.Inizio
                    </th>
                    <th>
                        @c.Fine
                    </th>
                    <th>
                        @c.Quantita
                    </th>
                    <th>
                        @c.Clienti
                    </th>
                    <th>
                        @c.Articolo
                    </th>
                    <th>
                        @c.Impegno
                    </th>
                </tr>
            }
        </tboby>
    </table>
</div>
