@using ReportWeb.Models.Preziosi
@model List<Movimenti>
<div class="row">
    <div class="col-sm-6">
        <label>Cassaforte A</label>

        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th width="15%">Data</th>
                    <th width="15%">Materiale</th>
                    <th width="10%">Dare</th>
                    <th width ="10%">Avere</th>
                    <th width ="15%">Operatore</th>
                    <th>Causale</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Movimenti m in Model.Where(x => x.Cassaforte == "A"))
                {
                <tr>
                    <td>@m.Giorno.ToShortDateString()</td>
                    <td>@m.Materiale</td>
                    <td>@m.Dare</td>
                    <td>@m.Avere</td>
                    <td>@m.Utente</td>
                    <td>@m.Causale</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <label>Cassaforte B</label>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th width="15%">Data</th>
                    <th width="15%">Materiale</th>
                    <th width="10%">Dare</th>
                    <th width="10%">Avere</th>
                    <th width="15%">Operatore</th>
                    <th>Causale</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Movimenti m in Model.Where(x => x.Cassaforte == "B"))
                {
                <tr>
                    <td>@m.Giorno.ToShortDateString()</td>
                    <td>@m.Materiale</td>
                    <td>@m.Dare</td>
                    <td>@m.Avere</td>
                    <td>@m.Utente</td>
                    <td>@m.Causale</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
