
@using ReportWeb.Models.RvlDocumenti
@model List<BollaCaricoModel>
@if (Model.Count == 0)
{
    <h2>Nessun dato trovato</h2>
}


@foreach (BollaCaricoModel bolla in Model)
{
    <div class="box box-primary collapsed-box" id="sectionPartiSpeciali">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-1">
                    <label class="input-sm">Numero documento</label>
                </div>
                <div class="col-sm-1">
                    <label class="input-sm">Azienda</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Documento</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Tipo documento</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Fornitore</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Data</label>
                </div>
                <div class="col-sm-1">
                    <label class="input-sm">Riferimento</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    @bolla.NumeroDocumento
                </div>
                <div class="col-sm-1">
                    @bolla.Azienda
                </div>
                <div class="col-sm-2">
                    @bolla.FullNumDoc
                </div>
                <div class="col-sm-2">
                    @bolla.TipoDocumento
                </div>
                <div class="col-sm-2">
                    @bolla.Fornitore
                </div>
                <div class="col-sm-2">
                    @bolla.Data
                </div>
                <div class="col-sm-1">
                    @bolla.Riferimento
                </div>
            </div>
            <div class="box-tools pull-right">
                <button id="btnCollapsePSpeciali" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        @foreach (PrdMovFasiModel fase in bolla.Fasi)
        {
            <div class="box-body">

                <div class="row">
                    <div class="col-sm-1">
                        <label class="input-sm"></label>
                    </div>
                    <div class="col-sm-2">
                        <label class="input-sm">ODL</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="input-sm">Modello</label>
                    </div>
                    <div class="col-sm-1">
                        <label class="input-sm">Quantità</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                        @fase.NumeroMovimentoFase
                    </div>
                    <div class="col-sm-2">
                        @fase.Modello
                    </div>
                    <div class="col-sm-2">
                        @fase.Quantita
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <label>Documento</label>
                    </div>
                    <div class="col-sm-1">
                        <label>Tipo</label>
                    </div>
                    <div class="col-sm-1">
                        <label>Numero</label>
                    </div>
                    <div class="col-sm-1">
                        <label>Data</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Cliente</label>
                    </div>
                </div>
                @foreach (BollaVenditaModel acquisto in fase.Vendite)
                {
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                            @acquisto.FullNumDoc
                        </div>
                        <div class="col-sm-1">
                            @acquisto.TipoDocumento
                        </div>
                        <div class="col-sm-1">
                            @acquisto.NumeroDocumento
                        </div>
                        <div class="col-sm-1">
                            @acquisto.Data
                        </div>
                        <div class="col-sm-2">
                            @acquisto.Cliente
                        </div>
                    </div>
                }


            </div>
        }
    </div>

}
