@using ReportWeb.Models.RvlDocumenti
@model List<BollaVenditaModel>
@if (Model.Count == 0)
{
    <h2>Nessun dato trovato</h2>
}

@foreach (BollaVenditaModel bolla in Model)
{
    <div class="box box-primary collapsed-box" id="sectionPartiSpeciali">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-sm-1">
                    <label class="input-sm">Numero documento</label>
                </div>
                <div class="col-sm-1">
                    <label class="input-sm">Azienda</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Documento</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Tipo documento</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Cliente</label>
                </div>
                <div class="col-sm-2">
                    <label class="input-sm">Data</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    @bolla.NumeroDocumento
                </div>
                <div class="col-sm-1">
                    @bolla.Azienda
                </div>
                <div class="col-sm-2">
                    @bolla.FullNumDoc
                </div>
                <div class="col-sm-2">
                    @bolla.TipoDocumento
                </div>
                <div class="col-sm-2">
                    @bolla.Cliente
                </div>
                <div class="col-sm-2">
                    @bolla.Data
                </div>
            </div>
            <div class="box-tools pull-right">
                <button id="btnCollapsePSpeciali" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="box-body">
            <h3>Dettaglio documento</h3>
            <div class="row col-sm-12">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th width="30%">Modello</th>
                            <th>Quantità</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (BollaVenditaDettaglioModel dettaglio in bolla.Dettagli.OrderBy(x => x.NRIGA))
                        {
                            <tr>
                                <td>@dettaglio.Modello</td>
                                <td>@dettaglio.Quantita</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <h3>ODL documento</h3>
            @foreach (PrdMovFasiModel fase in bolla.PRDMOVFASI)
            {

                <div class="row">
                    <div class="col-sm-2">
                        <label class="input-sm">ODL</label>
                    </div>
                    <div class="col-sm-2">
                        <label class="input-sm">Modello</label>
                    </div>
                    <div class="col-sm-1">
                        <label class="input-sm">Quantità</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @fase.NumeroMovimentoFase
                    </div>
                    <div class="col-sm-2">
                        @fase.Modello
                    </div>
                    <div class="col-sm-2">
                        @fase.Quantita
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                        <label>Documento</label>
                    </div>
                    <div class="col-sm-1">
                        <label>Tipo</label>
                    </div>
                    <div class="col-sm-1">
                        <label>Numero</label>
                    </div>
                    <div class="col-sm-1">
                        <label>Riferimento</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Fornitore</label>
                    </div>
                </div>
                foreach (BollaCaricoModel acquisto in fase.Acquisti)
                {
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                            @acquisto.FullNumDoc
                        </div>
                        <div class="col-sm-1">
                            @acquisto.TipoDocumento
                        </div>
                        <div class="col-sm-1">
                            @acquisto.NumeroDocumento
                        </div>
                        <div class="col-sm-1">
                            @acquisto.Riferimento
                        </div>
                        <div class="col-sm-2">
                            @acquisto.Fornitore
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1">Dettaglio</div>
                        <div class="col-sm-6">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Modello</th>
                                        <th>Quantità</th>
                                        <th>Causale</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (BollaCaricoDettaglioModel dettaglio in acquisto.Dettagli)
                                    {
                                        <tr>
                                            <td>@dettaglio.Modello</td>
                                            <td>@dettaglio.Quantita</td>
                                            <td>@dettaglio.Causale</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                }
            }
        </div>
    </div>

}
