
@using ReportWeb.Models.ALE
@model List<GruppoModel>

<div class="col-sm-12">
    <table class="table table-condensed" id="tblGruppi">
        <thead>
            <tr>
                <th width="5%"><label>ID</label></th>
                <th width="10%"><label>Lavorante</label></th>
                <th width="75%"><label>Nota</label></th>
                <th width="5%"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (GruppoModel a in Model)
            {
                <tr valign="top">
                    <td>@a.IDALEGRUPPO</td>
                    <td>@a.LavoranteDescrizione</td>
                    <td>@a.NotaAddebito</td>
                    <input type="hidden" value="@a.IDALEGRUPPO" class="hdIDALEGRUPPO" />
                    <td width="10%"><input type="button" onclick="MostraDettaglioGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Dettaglio" /></td>
                    <td>
                        @if (a.AddebitoAnnulabile)
                        {
                            <input type="button" onclick="AnnullaGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Annulla" />
                        }
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <div id="Dettaglio_@a.IDALEGRUPPO" style="display:none">
                            <table width="100%" class="table">
                                <thead>
                                    <tr>
                                        <th style="font-size:11px">
                                            Modello
                                        </th>
                                        <th style="font-size:11px">
                                            Difetto
                                        </th>
                                        <th style="font-size:11px">
                                            Lavorante
                                        </th>
                                        <th style="font-size:11px">
                                            Qta. Diff
                                        </th>
                                        <th style="font-size:11px">
                                            Qta. Ins
                                        </th>
                                        <th style="font-size:11px">
                                            Qta.Add
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (AddebitoModel dettaglio in a.Dettagli)
                                {
                                <tr>
                                    <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.Modello, dettaglio.ModelloDescrizione) </td>
                                    <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.TipoDifetto, dettaglio.Difetto) </td>
                                    <td style="font-size:11px">@dettaglio.LavoranteDescrizione</td>
                                    <td style="font-size:11px">@dettaglio.QuantitaDifettosi</td>
                                    <td style="font-size:11px">@dettaglio.QuantitaInseriti</td>
                                    <td style="font-size:11px">@dettaglio.QuantitaAddebitata</td>
                                </tr>
                                    if (!string.IsNullOrEmpty(dettaglio.Nota))
                                    {
                                <tr>
                                    <td style="font-size:11px" colspan="6">@string.Format("Nota inserimento: {0}", dettaglio.Nota)</td>
                                </tr>
                                    }
                                    if (!string.IsNullOrEmpty(dettaglio.NotaAddebito))
                                    {
                                <tr>
                                    <td style="font-size:11px" colspan="6">@string.Format("Nota addebito: {0}", dettaglio.NotaAddebito)</td>
                                </tr>
                                    }
                                }
                            </table>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {
    });

    function MostraDettaglioGruppo(sender, IDALEGRUPPO)
    {
        var title = $(sender).attr("value");

        if (title == "Dettaglio")
        {
            var divName = "#Dettaglio_" + IDALEGRUPPO;
            $(divName).show();
            $(sender).attr("value", "Chiudi");
        }

        if (title == "Chiudi")
        {
            var divName = "#Dettaglio_" + IDALEGRUPPO;
            $(divName).hide();
            $(sender).attr("value", "Dettaglio");
        }
    }

    function AnnullaGruppo(sender, IDALEGRUPPO)
    {
        var url = '@Url.Action("AnnullaAddebito", "ALE")';
        $.ajax({
            url: url,
            data: { IDALEGRUPPO: IDALEGRUPPO },
            cache: false,
            type: "POST",
            success: function (data)
            {
                CaricaAddebitoNuoviElementiPartial();
                CaricaGruppiAddebitoPartial();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>
