
@using ReportWeb.Models.ALE
@using System.Globalization
@model List<GruppoModel>

@if (Model.Count == 0)
{
    <div class="col-sm-12">
        <h4 class="text-red">Non ci sono gruppi da visualizzare</h4>
    </div>
}
else
{
    <div class="col-sm-12" style="overflow-y:auto; overflow-x:hidden; height:350px">
        <table class="table table-condensed" id="tblGruppi">
            <thead>
                <tr>
                    <th width="5%"><label>ID</label></th>
                    <th width="5%"><label>Data val.</label></th>
                    <th width="5%"><label>Utente</label></th>
                    <th width="10%"><label>Lavorante</label></th>
                    <th width="30%"><label>Nota addebito</label></th>
                    <th width="35%"><label>Nota valorizzazione</label></th>
                    <th width="5%"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GruppoModel a in Model)
                {
                    <tr valign="top">
                        <td>@a.IDALEGRUPPO</td>
                        <td>
                            @if (a.DataValorizzazione.HasValue)
                            {<text>@a.DataValorizzazione.Value.ToShortDateString()</text>}
                                            </td>
                        <td>@a.UtenteValorizzazione</td>
                        <td>@a.LavoranteDescrizione</td>
                        <td>@a.NotaAddebito</td>
                        <td>@a.NotaValorizzazione</td>
                        <input type="hidden" value="@a.IDALEGRUPPO" class="hdIDALEGRUPPO" />
                        <td width="10%"><input type="button" onclick="MostraDettaglioDaAppGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Dettaglio" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="5">
                            <div id="DettaglioDaApp_@a.IDALEGRUPPO" style="display:none">
                                <table width="100%" class="table">
                                    <thead>
                                        <tr>
                                            <th style="font-size:11px" width="15%">
                                                Modello
                                            </th>
                                            <th style="font-size:11px" width="15%">
                                                Difetto
                                            </th>
                                            <th style="font-size:11px" width="15%">
                                                Lavorante
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Qta.Add
                                            </th>
                                            <th style="font-size:11px" width="10%">
                                                Costo fase
                                            </th>

                                            <th style="font-size:11px" width="5%">
                                                Costo totale
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Prezzo
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Valore
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Nuovo prezzo
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Nuovo valore
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (AddebitoModel dettaglio in a.Dettagli)
                                    {
                                        <tr class="RWTRDettaglio" valign="top">
                                            <input type="hidden" class="hdIdAleDettaglio" value="@dettaglio.IdAleDettaglio" />
                                            <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.Modello, dettaglio.ModelloDescrizione) </td>
                                            <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.TipoDifetto, dettaglio.Difetto) </td>
                                            <td style="font-size:11px">@dettaglio.LavoranteDescrizione</td>
                                            <td style="font-size:11px">@dettaglio.QuantitaAddebitata</td>
                                            <td style="font-size:11px" rowspan="5">
                                                <table>
                                                    @{decimal totale = 0;

                                                        foreach (CostiAddebitiModel costo in dettaglio.Costi)
                                                        {
                                                            <tr>
                                                                <td style="padding-right:15px; font-size:11px">@costo.Fase</td>
                                                                @{totale += costo.CostoFase;}
                                                                <td style=" font-size:11px">@costo.CostoFase</td>
                                                            </tr>
                                                                    }
                                                                    <tr class="text-red">
                                                                        <td style="padding-right:15px; font-size:11px">COSTO TOTALE</td>
                                                                        <td style="font-size:11px">@totale</td>
                                                                    </tr>
                                                    }
                                                </table>

                                            </td>
                                            <td style="font-size:11px" class="text-red">@(totale * dettaglio.QuantitaAddebitata)</td>
                                            <td style="font-size:11px">@dettaglio.Prezzo</td>
                                            <td style="font-size:11px">@(dettaglio.Prezzo * dettaglio.QuantitaAddebitata)</td>
                                            <td style="font-size:12px">@Html.TextBox("txtPrezzo", dettaglio.Prezzo, new { @maxlength = "8", @class = "form-control input-sm RWPrezzo", @style = "height: 21px;", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</td>
                                            <td style="font-size:12px">@Html.TextBox("txtValore", string.Empty, new { @class = "form-control input-sm RWValore", @style = "height: 21px;", @readonly = true }) </td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota inserimento: {0}", dettaglio.NotaInserimento)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota addebito: {0}", dettaglio.NotaAddebito)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota valorizzazione: {0}", dettaglio.NotaValorizzazione)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="1" align="right"><label>Nota approvazione</label></td><td style="font-size:11px" colspan="3">@Html.TextBox("txtNotaApprovazione", "", new { @maxlength = "100", @class = "form-control input-sm RWNota", @style = "height: 21px;" })</td>
                                        </tr>

                                                                    }
                                    <tr class="RWTotali">
                                        <td class="text-right" align="right"><label>Nota di gruppo</label></td>
                                        <td colspan="4">@Html.TextBox("txtNota", "", new { @maxlength = "100", @class = "form-control input-sm RWNotaGruppo", @style = "height: 21px;" })</td>

                                        <td><input type="button" onclick="ApprovaGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Approva" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                                                                    }
            </tbody>
        </table>
    </div>

                                                                    }


<script language="javascript" type="text/javascript">
    $(function ()
    {
        $(".RWPrezzo").change(function ()
        {
            var trPrezzo = $(this).closest('tr');
            var tds = trPrezzo.find('td');
            var quantita = $(tds[3]).text();
            prezzo = $(this).val();
            var prezzoValue = parseFloat(prezzo);
            var valore = prezzoValue * quantita;

            $(".RWValore", trPrezzo).val(valore.toFixed(2));
            CalcolaTotale(trPrezzo);
        });
    });


    function CalcolaTotale(trPrezzo)
    {
        var table = $(trPrezzo).parent();
        var trs = $(table).find('tr');
        var trTotali = $('.RWTotali', table);
        var tdTotale = $('#RWTotale', trTotali);
        var totale = 0;
        var valori = $('.RWValore');
        for (var i = 0; i < valori.length; i++)
        {
            var valore = $(valori[i]).val();
            if (valore != '')
                totale = totale + parseFloat(valore);
        }
        $(tdTotale).val(totale.toFixed(2));
    }

    function MostraDettaglioDaAppGruppo(sender, IDALEGRUPPO)
    {
        var title = $(sender).attr("value");

        var divName = "#DettaglioDaApp_" + IDALEGRUPPO;
        if (title == "Dettaglio")
        {
            $(divName).show();
            $(sender).attr("value", "Chiudi");
        }

        if (title == "Chiudi")
        {
            $(divName).hide();
            $(sender).attr("value", "Dettaglio");
        }
    }

    function ApprovaGruppo(sender, IDALEGRUPPO)
    {
        
        var divGruppoName = "#DettaglioDaApp_" + IDALEGRUPPO;
        var divGruppo = $(divGruppoName);

        var trDettaglio = $(".RWTRDettaglio", divGruppo);
        var dettagli = [];
        var notaGruppo = $(".RWNotaGruppo", divGruppo);

        for (var i = 0 ; i < trDettaglio.length; i++)
        {
            var idDettaglio = $(".hdIdAleDettaglio", trDettaglio[i]);
            var idd = $(idDettaglio).val();

            var prezzo = $(".RWPrezzo", trDettaglio[i]);
            var p = $(prezzo).val();
            p = p.replace(',', '.');

            var nota = $(".RWNota", divGruppo);
            var n = $(nota).val();

            var dettaglio = { 'IdAleDettaglio': idd, 'Prezzo': p, 'Nota': n };
            dettagli.push(dettaglio);
        }

        var dettagliJson = JSON.stringify(dettagli);

        var url = '@Url.Action("ApprovaGruppo", "ALE")';
        $.ajax({
            url: url,
            data: { IDALEGRUPPO: IDALEGRUPPO, Dettagli: dettagliJson, Nota: notaGruppo.val() },
            cache: false,
            type: "POST",
            success: function (data)
            {
                CaricaGruppiDaApprovare();
                CaricaGruppiApprovati();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>
