
@using ReportWeb.Models.ALE
@model List<GruppoModel>

@if (Model.Count == 0)
{
    <div class="col-sm-12">
        <h4 class="text-red">Non ci sono gruppi da visualizzare</h4>
    </div>
}
else
{
    <div class="col-sm-12" style="overflow-y:auto; overflow-x:hidden; height:350px">
        <table class="table table-condensed" id="tblGruppi">
            <thead>
                <tr>
                    <th width="5%"><label>ID</label></th>
                    <th width="5%"><label>Utente</label></th>
                    <th width="10%"><label>Lavorante</label></th>
                    <th width="23%"><label>Nota addebito</label></th>
                    <th width="23%"><label>Nota valorizzazione</label></th>
                    <th width="23%"><label>Nota approvazione</label></th>
                    <th width="5%"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GruppoModel a in Model)
                {
                    <tr valign="top">
                        <td>@a.IDALEGRUPPO</td>
                        <td>@a.UtenteApprovazione</td>
                        <td>@a.LavoranteDescrizione</td>
                        <td>@a.NotaAddebito</td>
                        <td>@a.NotaValorizzazione</td>
                        <td>@a.NotaApprovazione</td>
                        <input type="hidden" value="@a.IDALEGRUPPO" class="hdIDALEGRUPPO" />
                        <td width="10%"><input type="button" onclick="MostraDettaglioValGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Dettaglio" /></td>
                        <td>
                            @if (a.ApprovazioneAnnulabile)
                            {
                                <input type="button" onclick="AnnullaApprovazione(this,@a.IDALEGRUPPO);" class="btn-primary" value="Annulla" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="5">
                            <div id="DettaglioVal_@a.IDALEGRUPPO" style="display:none">
                                <table width="100%" class="table">
                                    <thead>
                                        <tr>
                                            <th style="font-size:11px" width="20">
                                                Modello
                                            </th>
                                            <th style="font-size:11px" width="20">
                                                Difetto
                                            </th>
                                            <th style="font-size:11px" width="20">
                                                Lavorante
                                            </th>
                                            <th style="font-size:11px" width="5">
                                                Qta.Add
                                            </th>
                                            <th style="font-size:11px" width="10">
                                                Costo fase
                                            </th>

                                            <th style="font-size:11px" width="5">
                                                Costo totale
                                            </th>
                                            <th style="font-size:11px" width="5">
                                                Prezzo
                                            </th>
                                            <th style="font-size:11px" width="5">
                                                Prezzo approvato
                                            </th>
                                            <th style="font-size:11px" width="5">
                                                Valore
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (AddebitoModel dettaglio in a.Dettagli)
                                    {
                                        <tr valign="top">
                                            <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.Modello, dettaglio.ModelloDescrizione) </td>
                                            <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.TipoDifetto, dettaglio.Difetto) </td>
                                            <td style="font-size:11px">@dettaglio.LavoranteDescrizione</td>
                                            <td style="font-size:11px">@dettaglio.QuantitaAddebitata</td>
                                            <td style="font-size:11px" rowspan="5">
                                                <table>
                                                    @{decimal totale = 0;

                                                        foreach (CostiAddebitiModel costo in dettaglio.Costi)
                                                        {
                                                            <tr>
                                                                <td style="padding-right:15px; font-size:11px">@costo.Fase</td>
                                                                @{totale += costo.CostoFase;}
                                                                <td style=" font-size:11px">@costo.CostoFase</td>
                                                            </tr>
                                                                    }
                                                                    <tr class="text-red">
                                                                        <td style="padding-right:15px; font-size:11px">COSTO TOTALE</td>
                                                                        <td style="font-size:11px">@totale</td>
                                                                    </tr>
                                                    }
                                                </table>

                                            </td>
                                            <td style="font-size:11px" class="text-red">@(totale * dettaglio.QuantitaAddebitata)</td>
                                            <td style="font-size:11px">@dettaglio.Prezzo</td>
                                            <td style="font-size:11px">@dettaglio.PrezzoApprovato</td>
                                            <td style="font-size:11px">@(dettaglio.PrezzoApprovato * dettaglio.QuantitaAddebitata)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="2">@string.Format("Nota inserimento: {0}", dettaglio.NotaInserimento)</td>
                                            <td style="font-size:11px" colspan="1">@string.Format("Verificato da: {0}", dettaglio.UidUserInserimento)</td>
                                            <td colspan="1">
                                                @if (dettaglio.SCARTODEFINITIVO)
                                                {<label class="text-red">Scarto definitivo</label>
                                                }
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="5">@string.Format("Nota addebito: {0}", dettaglio.NotaAddebito)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="5">@string.Format("Nota valorizzazione: {0}", dettaglio.NotaValorizzazione)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="5">@string.Format("Nota approvazione: {0}", dettaglio.NotaApprovazione)</td>
                                        </tr>
                                                                    }
                                </table>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                                                                    }
            </tbody>
        </table>
    </div>

                                                                    }
<script language="javascript" type="text/javascript">
    $(function ()
    {
    });

    function MostraDettaglioValGruppo(sender, IDALEGRUPPO)
    {
        var title = $(sender).attr("value");

        if (title == "Dettaglio")
        {
            var divName = "#DettaglioVal_" + IDALEGRUPPO;
            $(divName).show();
            $(sender).attr("value", "Chiudi");
        }

        if (title == "Chiudi")
        {
            var divName = "#DettaglioVal_" + IDALEGRUPPO;
            $(divName).hide();
            $(sender).attr("value", "Dettaglio");
        }
    }

    function AnnullaApprovazione(sender, IDALEGRUPPO)
    {
        var url = '@Url.Action("AnnullaApprovazione", "ALE")';
        $.ajax({
            url: url,
            data: { IDALEGRUPPO: IDALEGRUPPO },
            cache: false,
            type: "POST",
            success: function (data)
            {
                CaricaGruppiDaApprovare();
                CaricaGruppiApprovati();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>
