
@using ReportWeb.Models.ALE
@using System.Globalization
@model List<GruppoModel>

@if (Model.Count == 0)
{
    <div class="col-sm-12">
        <h4 class="text-red">Non ci sono gruppi da visualizzare</h4>
    </div>
}
else
{
    <div class="col-sm-12">
        <table class="table table-condensed" id="tblGruppi">
            <thead>
                <tr>
                    <th width="5%"><label>ID</label></th>
                    <th width="5%"><label>Utente</label></th>
                    <th width="10%"><label>Lavorante</label></th>
                    <th width="23%"><label>Nota addebito</label></th>
                    <th width="23%"><label>Nota valorizzazione</label></th>
                    <th width="22%"><label>Nota approvazione</label></th>
                    <th width="5%"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GruppoModel a in Model)
                {
                    <tr valign="top">
                        <td>@a.IDALEGRUPPO</td>
                        <td>@a.UtenteValorizzazione</td>
                        <td>@a.LavoranteDescrizione</td>
                        <td>@a.NotaAddebito</td>
                        <td>@a.NotaValorizzazione</td>
                        <td>@a.NotaApprovazione</td>
                        <input type="hidden" value="@a.IDALEGRUPPO" class="hdIDALEGRUPPO" />
                        <td width="10%"><input type="button" onclick="MostraDettaglioValGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Dettaglio" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="5">
                            <div id="DettaglioDaApp_@a.IDALEGRUPPO" style="display:none">
                                <table width="100%" class="table">
                                    <thead>
                                        <tr>
                                            <th style="font-size:11px" width="15%">
                                                Modello
                                            </th>
                                            <th style="font-size:11px" width="15%">
                                                Difetto
                                            </th>
                                            <th style="font-size:11px" width="15%">
                                                Lavorante
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Qta.Add
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Prezzo approvato
                                            </th>
                                            <th style="font-size:11px" width="5%">
                                                Valore
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (AddebitoModel dettaglio in a.Dettagli)
                                    {
                                        <tr class="RWTRDettaglio" valign="top">
                                            <input type="hidden" class="hdIdAleDettaglio" value="@dettaglio.IdAleDettaglio" />
                                            <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.Modello, dettaglio.ModelloDescrizione) </td>
                                            <td style="font-size:11px">@string.Format("{0} - {1}", dettaglio.TipoDifetto, dettaglio.Difetto) </td>
                                            <td style="font-size:11px">@dettaglio.LavoranteDescrizione</td>
                                            <td style="font-size:11px">@dettaglio.QuantitaAddebitata</td>
                                            <td style="font-size:11px">@dettaglio.PrezzoApprovato</td>
                                            <td style="font-size:11px">@(dettaglio.PrezzoApprovato * dettaglio.QuantitaAddebitata)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota inserimento: {0}", dettaglio.NotaInserimento)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota addebito: {0}", dettaglio.NotaAddebito)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota valorizzazione: {0}", dettaglio.NotaValorizzazione)</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="font-size:11px" colspan="4">@string.Format("Nota approvazione: {0}", dettaglio.NotaApprovazione)</td>
                                        </tr>

                                    }
                                    <tr class="RWTotali">
                                        <td class="text-right" align="right"><label>Nota di gruppo</label></td>
                                        <td colspan="4">@Html.TextBox("txtNota", "", new { @maxlength = "100", @class = "form-control input-sm RWNotaGruppo", @style = "height: 21px;" })</td>

                                        <td><input type="button" onclick="FatturaGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Fattura" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}


<script language="javascript" type="text/javascript">
    $(function ()
    {
    });


    function MostraDettaglioValGruppo(sender, IDALEGRUPPO)
    {
        var title = $(sender).attr("value");

        var divName = "#DettaglioDaApp_" + IDALEGRUPPO;
        if (title == "Dettaglio")
        {
            $(divName).show();
            $(sender).attr("value", "Chiudi");
        }

        if (title == "Chiudi")
        {
            $(divName).hide();
            $(sender).attr("value", "Dettaglio");
        }
    }

    function FatturaGruppo(sender, IDALEGRUPPO)
    {
        
        var divGruppoName = "#DettaglioDaApp_" + IDALEGRUPPO;
        var divGruppo = $(divGruppoName);

        var trDettaglio = $(".RWTRDettaglio", divGruppo);
        var dettagli = [];
        var notaGruppo = $(".RWNotaGruppo", divGruppo);

        var url = '@Url.Action("FatturaGruppo", "ALE")';
        $.ajax({
            url: url,
            data: { IDALEGRUPPO: IDALEGRUPPO,  Nota: notaGruppo.val() },
            cache: false,
            type: "POST",
            success: function (data)
            {
                CaricaGruppiDaFatturare();
                CaricaGruppiFatturati();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>
