
@using ReportWeb.Models.ALE
@model List<GruppoModel>

@if (Model.Count == 0)
{
    <div class="col-sm-12">
        <h4 class="text-red">Non ci sono gruppi da visualizzare</h4>
    </div>
}
else
{
    <div class="col-sm-12">
        <table class="table table-condensed" id="tblGruppi">
            <thead>
                <tr>
                    <th width="5%"><label>ID</label></th>
                    <th width="10%"><label>Lavorante</label></th>
                    <th width="75%"><label>Nota</label></th>
                    <th width="5%"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GruppoModel a in Model)
                {
                    <tr valign="top">
                        <td>@a.IDALEGRUPPO</td>
                        <td>@a.LavoranteDescrizione</td>
                        <td>@a.NotaAddebito</td>
                        <input type="hidden" value="@a.IDALEGRUPPO" class="hdIDALEGRUPPO" />
                        <td width="10%"><input type="button" onclick="MostraDettaglioGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Dettaglio" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <div id="Dettaglio_@a.IDALEGRUPPO" style="display:none">
                                <table width="100%" class="table">
                                    <thead>
                                        <tr>
                                            <th style="font-size:12px" width="15%">
                                                Modello
                                            </th>
                                            <th style="font-size:12px" width="15%">
                                                Difetto
                                            </th>
                                            <th style="font-size:12px" width="15%">
                                                Lavorante
                                            </th>
                                            <th style="font-size:12px" width="5%">
                                                Quantita
                                            </th>
                                            <th style="font-size:12px" width="12%">
                                                Costi
                                            </th>
                                            <th style="font-size:12px" width="5%">
                                                Costo
                                            </th>
                                            <th style="font-size:12px" width="5%">
                                                Prezzo
                                            </th>
                                            <th style="font-size:12px" width="5%">
                                                Valore
                                            </th>
                                            <th style="font-size:12px">
                                                Nota
                                            </th>
                                        </tr>
                                    </thead>
                                    @foreach (AddebitoModel dettaglio in a.Dettagli)
                                    {
                                        <tr class="RWTRDettaglio" valign="top">
                                            <input type="hidden" class="hdIdAleDettaglio" value="@dettaglio.IdAleDettaglio" />
                                            <td style="font-size:12px">@string.Format("{0} - {1}", dettaglio.Modello, dettaglio.ModelloDescrizione) </td>
                                            <td style="font-size:12px">@string.Format("{0} - {1}", dettaglio.TipoDifetto, dettaglio.Difetto) </td>
                                            <td style="font-size:12px">@dettaglio.LavoranteDescrizione</td>
                                            <td style="font-size:12px">@dettaglio.QuantitaAddebitata</td>
                                            <td style="font-size:12px">@Html.Partial("ValorizzazioneDettaglioCostiPartial", dettaglio)</td>
                                            <td style="font-size:12px">@Html.TextBox("txtCosto_" + dettaglio.IdAleDettaglio.ToString(), "", new { @maxlength = "8", @class = "form-control input-sm RWCosto", @style = "height: 21px;", @readonly = true })</td>
                                            <td style="font-size:12px">@Html.TextBox("txtPrezzo", "", new { @maxlength = "8", @class = "form-control input-sm RWPrezzo", @style = "height: 21px;", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</td>
                                            <td style="font-size:12px">@Html.TextBox("txtValore", string.Empty, new { @class = "form-control input-sm RWValore", @style = "height: 21px;", @readonly = true }) </td>
                                            <td style="font-size:12px">@Html.TextBox("txtNota", "", new { @maxlength = "100", @class = "form-control input-sm RWNota", @style = "height: 21px;" })</td>
                                        </tr>
                                        if (!string.IsNullOrEmpty(dettaglio.NotaInserimento))
                                        {
                                            <tr>
                                                <td style="font-size:12px" colspan="8">@string.Format("Nota inserimento: {0}", dettaglio.NotaInserimento)</td>
                                            </tr>
                                        }
                                        if (!string.IsNullOrEmpty(dettaglio.NotaAddebito))
                                        {
                                            <tr>
                                                <td style="font-size:12px" colspan="8">@string.Format("Nota addebito: {0}", dettaglio.NotaAddebito)</td>
                                            </tr>
                                        }
                                        <tr><td colspan="9"><hr /></td></tr>
                                    }
                                    <tr class="RWTotali">
                                        <td class="text-right"><label>Nota di gruppo</label></td>
                                        <td colspan="4">@Html.TextBox("txtNota", "", new { @maxlength = "100", @class = "form-control input-sm RWNotaGruppo", @style = "height: 21px;" })</td>
                                        <td class="text-red">TOTALE</td>
                                        <td class="text-red">@Html.TextBox("RWTotale", string.Empty, new { @class = "form-control input-sm RWTotale", @style = "height: 21px;", @readonly = true })</td>
                                        <td><input type="button" onclick="ValorizzaGruppo(this,@a.IDALEGRUPPO);" class="btn-primary" value="Valorizza" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
<script language="javascript" type="text/javascript">
    $(function ()
    {
        $(".RWPrezzo").change(function ()
        {
            var trPrezzo = $(this).closest('tr');
            var tds = trPrezzo.find('td');
            var quantita = $(tds[3]).text();
            prezzo = $(this).val();
            var prezzoValue = parseFloat(prezzo);
            var valore = prezzoValue * quantita;

            $(".RWValore", trPrezzo).val(valore.toFixed(2));
            CalcolaTotale(trPrezzo);
        });

        $('.RWtblFaseCosto').on('click', 'a', function ()
        {
            var tr = $(this).closest('tr');
            var hdIdAleDet = $('.hdidAleDet', tr);
            var IdAleDettaglio = $(hdIdAleDet).val();
            tr.remove();
            aggiornaTotale(IdAleDettaglio);
        })
    });

    function CalcolaTotale(trPrezzo)
    {
        var table = $(trPrezzo).parent();
        var trs = $(table).find('tr');
        var trTotali = $('.RWTotali', table);
        var tdTotale = $('#RWTotale', trTotali);
        var totale = 0;
        var valori = $('.RWValore');
        for (var i = 0; i < valori.length; i++)
        {
            var valore = $(valori[i]).val();
            if (valore != '')
                totale = totale + parseFloat(valore);
        }
        $(tdTotale).val(totale.toFixed(2));
    }

    function MostraDettaglioGruppo(sender, IDALEGRUPPO)
    {
        var title = $(sender).attr("value");

        if (title == "Dettaglio")
        {
            var divName = "#Dettaglio_" + IDALEGRUPPO;
            $(divName).show();
            $(sender).attr("value", "Chiudi");
        }

        if (title == "Chiudi")
        {
            var divName = "#Dettaglio_" + IDALEGRUPPO;
            $(divName).hide();
            $(sender).attr("value", "Dettaglio");
        }
    }

    function ValorizzaGruppo(sender, IDALEGRUPPO)
    {
        var divGruppoName = "#Dettaglio_" + IDALEGRUPPO;
        var divGruppo = $(divGruppoName);

        var trDettaglio = $(".RWTRDettaglio", divGruppo);
        var dettagli = [];
        var notaGruppo = $(".RWNotaGruppo", divGruppo);

        var esito = true;
        var messaggio = '';
        for (var i = 0 ; i < trDettaglio.length; i++)
        {
            var idDettaglio = $(".hdIdAleDettaglio", trDettaglio[i]);
            var idd = $(idDettaglio).val();

            var dettagliCosti = getDettaglioCostiFase(idd);

            var prezzo = $(".RWPrezzo", trDettaglio[i]);
            var p = $(prezzo).val();

            var costo = $(".RWCosto", trDettaglio[i]);
            var c = $(costo).val();

            if (p == '')
            {
                esito = false;
                messaggio = messaggio + "Riga " + (i + 1) + " prezzo non valorizzato <BR \>"
            }
            var nota = $(".RWNota", trDettaglio[i]);
            var n = $(nota).val();

            var dettaglio = { 'IdAleDettaglio': idd, 'Prezzo': p, 'Costo': c, 'CostiFase': dettagliCosti, 'Nota': n };
            dettagli.push(dettaglio);
        }

        $('#lblMessage').html(messaggio);
        if (!esito)
            return;

        var dettagliJson = JSON.stringify(dettagli);

        var url = '@Url.Action("Valorizza", "ALE")';
        $.ajax({
            url: url,
            data: { IDALEGRUPPO: IDALEGRUPPO, Dettagli: dettagliJson, Nota: notaGruppo.val() },
            cache: false,
            type: "POST",
            success: function (data)
            {
                CaricaGruppiDaValorizzare();
                CaricaGruppiValorizzati();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function getDettaglioCostiFase(IdAleDettaglio)
    {
        var dettagliCosti = [];
        var nomeTabella = '#tblFaseCosto_' + IdAleDettaglio;
        var tabella = $(nomeTabella);

        var trs = $('tr', tabella);

        for (var i = 0; i < trs.length; i++)
        {
            var tdFase = $('td', trs[i])[0];
            var tdCosto = $('td', trs[i])[1];
            var inputFase = tdFase.children[0];
            var inputCosto = tdCosto.children[0];
            var costo = $(inputCosto).val();
            var fase = $(inputFase).val();

            var dettaglioCosto = { 'IdAleDettaglio': IdAleDettaglio, 'Fase': fase, 'Costo': costo };
            dettagliCosti.push(dettaglioCosto);
        }

        return dettagliCosti;
    }

    function AggiungiCosto(IdAleDettaglio, sender)
    {
        var nomeTabella = '#tblFaseCosto_' + IdAleDettaglio;

        var riga = '<tr><input type="hidden" value="' + IdAleDettaglio + '" class="hdidAleDet"><td width="55%" style="font-size:12px"><input class="form-control input-sm RWFASE" id="txtFase_' + IdAleDettaglio + '" name="txtFase_' + IdAleDettaglio + '" type="text" value=""></td><td width="35%" style="font-size:12px"><input class="form-control input-sm RWCOSTOFASE" id="txtCostoFase_' + IdAleDettaglio + '" name="txtCostoFase_' + IdAleDettaglio + '" oninput="onDecimalInput(this,8,2)" onkeypress="return FilterDecimal(event,this)" type="text" value="0"></td><td width="10%" style="font-size:12px"><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td></tr>'

        $(nomeTabella).last().append(riga);
        AvviaCalcolaTotali();
    }

    function AvviaCalcolaTotali()
    {
        $('.RWCOSTOFASE').change(function ()
        {

            var id = $(this).attr('id');
            var str = id.split('_');
            var IdAleDettaglio = str[1];
            aggiornaTotale(IdAleDettaglio);
        });
    }

    function aggiornaTotale(IdAleDettaglio)
    {

        var nomeTabella = '#tblFaseCosto_' + IdAleDettaglio;
        var tabella = $(nomeTabella);
        var totale = 0;
        var trs = $('tr', tabella);

        for (var i = 0; i < trs.length; i++)
        {
            var td = $('td', trs[i])[1];
            var input = td.children[0];
            var costo = $(input).val();
            var aux = parseFloat(costo);
            totale = totale + aux;
        }
        var nomeCostoTotale = '#txtCosto_' + IdAleDettaglio;

        var txtCostoTotale = $(nomeCostoTotale);
        $(txtCostoTotale).val(totale.toFixed(2));
    }
</script>
