@using ReportWeb.Models.ALE
@model AddebitiModel

@if (Model.Addebiti.Count == 0)
{
    <label class="text-red">Nessun risultato trovato</label>
}
else
{
    <div class="row">
        <div class="col-sm-2"><input type="button" onclick="Report();" class="btn btn-primary" value="Report PDF" /></div>
        <div class="col-sm-2"><input type="button" onclick="Excel();" class="btn btn-primary" value="Report Excel" /></div>
    </div>
    <table>
        <thead>
            <tr>
                <th width="8%">Data inserimento</th>
                <th width="8%">Azienda</th>
                <th width="15%">Lavorante</th>
                <th width="15%">Modello</th>
                <th width="25%">Descrizione</th>
                <th width="8%">Quantità</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AddebitoModel addebito in Model.Addebiti)
            {
                <tr>
                    <td>@addebito.DataInserimento</td>
                    <td>@addebito.Azienda</td>
                    <td>@addebito.LavoranteDescrizione</td>
                    <td>@addebito.Modello</td>
                    <td>@addebito.ModelloDescrizione</td>
                    <td>@addebito.QuantitaDifettosi</td>
                </tr>
            }
        </tbody>
    </table>
}