@using ReportWeb.Models.ALE
@model AddebitoModel
<table id="headerSPCAlZTable" class="table">
    <tbody>
        <tr>
            <td width="55%"><label class="input-sm">Fase</label></td>
            <td width="35%"><label class="input-sm">Costo</label></td>
            <td width="10%"><a class="disabilitaVersione" onclick="AggiungiCosto(@Model.IdAleDettaglio,this)" title="Aggiungi"><i class="fa fa-fw fa-plus"></i></a></td>
        </tr>
    </tbody>
</table>

<div id="divValidSpCalz">
    <table id="tblFaseCosto_@Model.IdAleDettaglio" class="table table-hover RWtblFaseCosto">
        <tbody>
            @foreach (string fase in Model.ListaFasi)
            {
                <tr>
                    <input type="hidden" value='@Model.IdAleDettaglio' class="hdidAleDet" />
                    <td width="55%" style="font-size:12px">@Html.TextBox("txtFase_" + Model.IdAleDettaglio.ToString(),fase , new { @class = "form-control input-sm RWFASE" })</td>
                    <td width="35%" style="font-size:12px">@Html.TextBox("txtCostoFase_" + Model.IdAleDettaglio.ToString(), "0", new { @class = "form-control input-sm RWCOSTOFASE", @onkeypress = "return FilterDecimal(event,this)", @oninput = "onDecimalInput(this,8,2)" })</td>
                    <td width="10%" style="font-size:12px"><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

</div>

<script type="text/javascript">

    $(function ()
    {
        aggiornaTotale(@Model.IdAleDettaglio);
        AvviaCalcolaTotali();
    });

 

</script>