@using ReportWeb.Models
@{
    ViewBag.Title = "Galvanica Consuntivo";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="content-top">
    <h2>Galvanica Consuntivo</h2>
    <div class="box">
        <div class="box-body form-group-sm">
            <div class="row">
                <div class="col-md-2">
                    <label>Inizio turno</label><br />
                    <input type="datetime-local" id="dtInizio" />
                </div>
                <div class="col-md-2">
                    <label>Fine turno</label><br />
                    <input type="datetime-local" id="dtFine" />
                </div>
                <div class="col-md-2">
                    <label>Barre</label><br />
                    <input id="txtBarre" type="number" name="txtBarre" min="1" max="100000">
                </div>
                <div class="col-md-6">
                    <div class="box box-primary box-solid">
                        <div class="box-header text-center">
                            Fermi impianto
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="15%">Tipo</th>
                                        <th width="15%">Ora</th>
                                        <th width="15%">Durata</th>
                                        <th width="50%">Motivo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                            <table id="tblFermoGalvanica" class="table table-hover">
                                <tbody></tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="15%">
                                            @Html.DropDownList("ddlTipoFermo", new SelectList(ViewData["tipoFermo"] as List<RWListItem>, "Value", "Text"), new { @class = "form-control input-sm ", @style = "height: 21px;" })
                                        </td>
                                        <td width="15%"><input id="txtOraFermo" type="time"></td>
                                        <td width="15%"><input id="txtDurata" type="time"></td>
                                        <td width="50%">@Html.TextBox("txtMotivo", "", new { @maxlength = "50", @class = "form-control input-sm  text-uppercase" })</td>
                                        <td><a onclick="AggiungiFermo();" title="Aggiungi"><i class="fa fa-fw fa-plus"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <label class="text-red input-sm" id="lblMessage2"></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <input type="button" onclick="Salva();" class="btn btn-primary" value="Inserisci informazioni" />

        </div>
    </div>
    <label class="text-red input-sm" id="lblMessage"></label>
</div>
<div class="col-sm-12">
    <div id="divGriglia"></div>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {
        var iso = new Date().toISOString();
        iso = iso.split('T')[0] + 'T00:00'
        $('#dtInizio').val(iso);
        $('#dtFine').val(iso);
        $('#tblFermoGalvanica').on('click', 'a', function ()
        {
            $(this).closest('tr').remove();
        })

        var url = '@Url.Action("GetGriglia", "Galvanica")';
        $.ajax({
            url: url,
            data: {},
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGriglia').html(data).show();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    });


    function AggiungiFermo()
    {
        var tipoFermo = $("#ddlTipoFermo").find("option:selected").text();
        var IDTipoFermo = $("#ddlTipoFermo").val();
        var OraFermo = $("#txtOraFermo").val();
        var Durata = $("#txtDurata").val();
        var Motivo = $("#txtMotivo").val();

        var messaggio = '';
        var esegui = true;
        if (tipoFermo == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il tipo di fermo" + "</br>";
            esegui = false;
        }

        if (OraFermo == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare l'ora del fermo" + "</br>";
            esegui = false;
        }

        if (Durata == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare la durata del fermo" + "</br>";
            esegui = false;
        }
        if (Motivo == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il motivo del fermo" + "</br>";
            esegui = false;
        }

        $('#lblMessage2').html(messaggio);
        if (!esegui) return;

        var tr = '<tr>';
        tr += '<input type="hidden" value = ' + IDTipoFermo + ' class="hdIDTipoFermo" />';
        tr += '<td width="15%">' + tipoFermo + '</td>';
        tr += '<td width="15%">' + OraFermo + '</td>';
        tr += '<td width="15%">' + Durata + '</td>';
        tr += '<td width="50%">' + Motivo + '</td>';
        tr += '<td ><a title="Cancella"><i class="fa fa-fw fa-remove"></i></a></td>';
        tr += '<\tr>';
        $('#tblFermoGalvanica').prepend(tr);

        $("#ddlTipoFermo").val('');
        $("#txtOraFermo").val('');
        $("#txtDurata").val('');
        $("#txtMotivo").val('');

    }

    function Salva()
    {

        var esegui = true;
        var messaggio = '';
        var dtInizio = $('#dtInizio').val();
        if (dtInizio == null || dtInizio == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Inizio turno" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
            esegui = false;
        }

        var dtFine = $('#dtFine').val();
        if (dtFine == null || dtFine == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Fine turno" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
            esegui = false;
        }
        var barre = $('#txtBarre').val();

        if (barre == null || barre == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Barre" + " " + MESSAGGIO_DEVE_ESSERE_VALORIZZATO + "</br>";
            esegui = false;
        }

        $('#lblMessage').html(messaggio);
        if (!esegui)
        {
            return;
        }

        var fermi = JSON.stringify(getFermi());

        var url = '@Url.Action("SalvaConsuntivo", "Galvanica")';
        $.ajax({
            url: url,
            data: {
                Inizio: dtInizio,
                Fine: dtFine,
                Barre: barre,
                Fermi: fermi
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGriglia').html(data).show();
                CancellaInput();
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

    function getFermi()
    {
        var data = [];
        var trs = $('#tblFermoGalvanica >tbody >tr');
        for (i = 0; i < trs.length; i++)
        {
            var tr = trs[i];
            var tipoFermo = $(".hdIDTipoFermo", tr).val();

            var tdOraFermo = $(tr).find('td')[1];
            var OraFermo = $(tdOraFermo).text().trim();

            var tdDurata = $(tr).find('td')[2];
            var Durata = $(tdDurata).text().trim();

            var tdMotivo = $(tr).find('td')[3];
            var Motivo = $(tdMotivo).text().trim();

            var fermo = {
                'Tipo': tipoFermo, 'Ora': OraFermo, 'Durata': Durata, 'Motivo': Motivo
            };
            data.push(fermo);
        }
        return data;
    }
    function CancellaInput()
    {
        $('#dtInizio').val('');
        $('#dtFine').val('');
        $('#txtBarre').val('');
        $('#ddlTipoFermo').val('');
        $('#txtOraFermo').val('');
        $('#txtDurata').val('');
        $('#txtMotivo').val('');
        $('#tblFermoGalvanica tbody tr').remove();
    }

    var idConsuntivoDaCancellare = -1;
    function CancellaConsuntivo(idConsuntivo)
    {
        idConsuntivoDaCancellare = idConsuntivo;
        ConfirmPopup('Eliminare la riga selezionata ?', EseguiCancellaArticolo);
    }

    function EseguiCancellaArticolo()
    {
        var url = '@Url.Action("CancellaConsuntivo", "Galvanica")';
        $.ajax({
            url: url,
            data: { IdConsuntivo: idConsuntivoDaCancellare },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divGriglia').html(data).show();
                idConsuntivoDaCancellare = -1;
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });

    }

</script>