@using ReportWeb.Models
@model List<GalvanicaConsuntivoModel>
<div class="col-sm-8">

    <div class="box box-primary box-solid" style="overflow-y: auto; height:550px;">

        <table class="table table-hover">
            <tr>
                <th width="15%">
                    <label>Inizio turno</label>
                </th>
                <th width="15%">
                    <label>Fine turno</label>
                </th>
                <th width="10%">
                    <label>Barre</label>
                </th>
                <th width="55%">
                    <label>Fermmi in galvanica</label>
                </th>
                <th></th>
                <th></th>
            </tr>
            <tboby>
                @foreach (GalvanicaConsuntivoModel c in Model)
            {
                    <tr valign="top">
                        <td>
                            @c.InizioTurno.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @c.FineTurno.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @c.Barre
                        </td>
                        <td>
                            @if (c.Fermi.Count > 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="15%"><label>Fermo</label></th>
                                            <th width="10%"><label>Ora</label></th>
                                            <th width="10%"><label>Durata</label></th>
                                            <th><label>Motivo</label></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (FermoModel f in c.Fermi)
                                        {
                                            <tr>
                                                <td>@f.Tipo</td>
                                                <td>@f.Ora</td>
                                                <td>@f.Durata</td>
                                                <td>@f.Motivo</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }
                        </td>
                        <td>
                            <a onclick="CancellaConsuntivo(@c.IdConsuntivo)" title="Cancella"><i class="fa fa-fw fa-remove"></i></a>
                        </td>
                        <td></td>
                    </tr>
                }
            </tboby>
        </table>
    </div>
</div>
