@using ReportWeb.Models.Magazzino
@model List<ModelloGiacenzaModel>
@{
    ViewBag.Title = "Magazzini Giacenze";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="content-top">
    <h2>Magazzino - Giacenze</h2>
</div>
<div style="overflow-y:auto; overflow-x:hidden; height:450px; padding-left:10px">
    <div><h4>Giacenze esistenti</h4></div>
    <div class="row">
        @if (Model.Count == 0)
        {
            <h3 class="text-red">Nessun elemento trovato</h3>
        }
        else
        {
            <table class="table table-condensed" id="tblGiacenzeEsistenti">
                <thead>
                    <tr>
                        <th></th>
                        <th>Modello</th>
                        <th>Descrizione</th>
                        <th>Giacenza</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ModelloGiacenzaModel elemento in Model)
                    {
                        <tr>
                            @if (elemento.Presente)
                            {
                                <td><input type="checkbox" class="RWCHECK" checked /></td>
                            }
                            else
                            {
                                <td><input type="checkbox" class="RWCHECK" /></td>
                            }
                            <td>@elemento.Modello <input type="hidden" value="@elemento.IDMAGAZZ" class="hdIDMAGAZZ"></td>
                            <td>@elemento.Descrizione</td>
                            <td> <input id="txtGiacenza" class="RWGIACENZA" type="number" name="txtGiacenza" min="0" max="100000" value="@elemento.Giacenza" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<input type="button" onclick="AggiornaGiacenze();" class="btn btn-primary" value="Salva modifiche" />
<label class="text-red" id="lblMessage"></label>
<div style="overflow-y:auto; overflow-x:hidden; height:300px; padding-left:10px">
    <div class="row">
        <div class="col-sm-1"><label>Modello</label></div>
        <div class="col-sm-2">@Html.TextBox("txtModello", "", new { @maxlength = "50", @class = "form-control input-sm ", @style = "height: 21px;" })</div>
        <div class="col-sm-1"><input type="button" onclick="Trova();" class="btn btn-primary" value="Trova" /></div>
    </div>
    <div class="row" id="divRisultati"></div>
</div>


<script language="javascript" type="text/javascript">
    $(function ()
    {

    });

    function Trova()
    {
        var esegui = true;
        var messaggio = '';
        var modello = $('#txtModello').val();
        if (modello == null || modello == '')
        {
            messaggio += MESSAGGIO_PUNTINO + " " + "Indicare il modello da cercare" + "</br>";
            esegui = false;
        }

        $('#lblMessage').html(messaggio);
        if (!esegui)
        {
            return;
        }

        var url = '@Url.Action("TrovaModello", "Magazzino")';
        $.ajax({
            url: url,
            data: {
                Modello: modello
            },
            cache: false,
            type: "POST",
            success: function (data)
            {
                $('#divRisultati').html(data).show();

            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }
    function AggiornaGiacenze()
    {
         var modello = $('#txtModello').val();
        var data = [];
        var trs = $('#tblGiacenzeEsistenti >tbody >tr');
        for (i = 0; i < trs.length; i++)
        {
            var tr = trs[i];
            var IDMAGAZZ = $(".hdIDMAGAZZ", tr).val();
            var checkbox = $(".RWCHECK", tr);
            var checked = $(checkbox).prop('checked');
            var giacenza = $(".RWGIACENZA", tr).val();
            if (giacenza == null || giacenza == '') giacenza = 0;
            var elemento = {
                'Checked': checked, 'IDMAGAZZ': IDMAGAZZ, 'Giacenza': giacenza
            };
            data.push(elemento);
        }

        trs = $('#tblGiacenze >tbody >tr');
        if (trs != null)
        {
            for (i = 0; i < trs.length; i++) {
                var tr = trs[i];
                var IDMAGAZZ = $(".hdIDMAGAZZ", tr).val();
                var checkbox = $(".RWCHECK", tr);
                var checked = $(checkbox).prop('checked');
                var giacenza = $(".RWGIACENZA", tr).val();
                if (giacenza == null || giacenza == '') giacenza = 0;
                var elemento = {
                    'Checked': checked, 'IDMAGAZZ': IDMAGAZZ, 'Giacenza': giacenza
                };
                data.push(elemento);
            }
        }

        var giacenze = JSON.stringify(data);

        $('#lblMessage').html('');

        var url = '@Url.Action("SalvaGiacenza", "Magazzino")';
        $.ajax({
            url: url,
            data: {
                Giacenze: giacenze,
                Modello:modello
            },
            cache: false,
            type: "POST",
            success: function (data)
            {               
                var url = '@Url.Action("Index", "magazzino")';
                window.open(url, "_self");
            },
            error: function (response)
            {
                document.open();
                document.write(response.responseText);
                document.close();
            }
        });
    }

</script>
