@using ReportWeb.Models.Magazzino
@model List<MagazzinoLavorantiEsterniModel>

@if (Model.Count == 0)
{
    <h2 class="text-red">Nessun dato trovato</h2>
}
else
{
    <div class="row">
        <div class="col-sm-1"><input type="button" onclick="Excel();" class="btn btn-primary" value="Esporta Excel" /></div>
    </div>
    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th style="font-size:11px">Azienda</th>
                    <th style="font-size:11px">ODL</th>
                    <th style="font-size:11px">Data inizio</th>
                    <th style="font-size:11px">Data fine</th>
                    <th style="font-size:11px">Modello</th>
                    <th style="font-size:11px">Descrizione</th>
                    <th style="font-size:11px">Quantità</th>
                    <th style="font-size:11px">Peso</th>
                    <th style="font-size:11px">Componente</th>
                    <th style="font-size:11px">Descrizione</th>
                    <th style="font-size:11px">Quantità</th>
                    <th style="font-size:11px">Peso</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MagazzinoLavorantiEsterniModel elemento in Model)
                {
                <tr>
                    <td style="font-size:11px">@elemento.Azienda</td>
                    <td style="font-size:11px">@elemento.ODL</td>
                    <td style="font-size:11px">@elemento.DataInizio</td>
                    <td style="font-size:11px">@elemento.DataFine</td>
                    <td style="font-size:11px">@elemento.Modello</td>
                    <td style="font-size:11px">@elemento.ModelloDescrizione</td>
                    <td style="font-size:11px">@elemento.Quanita</td>
                    <td style="font-size:11px">@elemento.Peso</td>
                    <td style="font-size:11px">@elemento.Componente</td>
                    <td style="font-size:11px">@elemento.ComponenteDescrizione</td>
                    <td style="font-size:11px">@elemento.QuanitaComponente</td>
                    <td style="font-size:11px">@elemento.PesoComponente</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
}
